<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>服务中心</title>
    <link rel="stylesheet" href="{% static 'css/dist/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <!-- https://fontawesome.com/v5/icons/times?s=solid -->
</head>

<body>
    <div id="main_12345"></div>
    <script type="module">
        import {Mainapp} from "{% static 'js/dist/index.js' %}";
        $(document).ready(function(){
            let demoapp = new Mainapp("main_12345");
        });
    </script>
</body>

</html>
